<footer>
    <div class="footer-holder">
        <div class="footer-contact-me">
            <form action="">
                <h2 class="footer-contact-heading">CONTACT ME</h2>
                <input type="text" placeholder="Name" class="footer-contact-input">
                <textarea name="message" id="message" cols="30" rows="2" class="footer-contact-input" placeholder="Message"></textarea>
                <div>
                    <input type="email" placeholder="Email" class="footer-contact-input">
                    <button type="submit" class="footer-contact-button">SEND</button>
                </div>
            </form>
        </div>
        <div class="footer-links-holder">
            <div class="footer-link">
                <a href="/portfolio" class="footer-link">
                    PORTFOLIO
                </a>
            </div>
            <div class="footer-link">
                <a href="/about.html" class="footer-link">
                    ABOUT
                </a>
            </div>
            <div class="footer-link">
                <a href="/contact.html" class="footer-link">
                    CONTACT ME
                </a>
            </div>
        </div>
        <div class="footer-socials">
            <a href="#" class="footer-social-link"><img src="images/instagram.svg" alt="Instagram" width="20px" height="20px"></a>
            <a href="#" class="footer-social-link"><img src="images/behance.svg" alt="Behance" width="20px" height="20px"></a>
            <a href="#" class="footer-social-link"><img src="images/linkedin.svg" alt="Linkedin" width="20px" height="20px"></a>
            <a href="#" class="footer-social-link"><img src="images/dribbble.svg" alt="Dribbble" width="20px" height="20px"></a>
        </div>
        <div class="footer-logo">
            <h2>ZakeDe</h2>
            <p><a href="mailto:zakede@whatever.com">zakede@whatever.com</a></p>
            <p>+1 905-123-4567</p>
        </div>
        <div class="footer-toc">
            <div>
                <div class="toc-link">
                    <a href="#" class="toc-link">PRIVACY POLICY</a>
                </div>
                <div class="toc-link">
                    <a href="#" class="toc-link">TERMS OF SERVICE</a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div>
                <p>&copy; 2024</p>
                <p>Welland,</p>
                <p>ON Canada</p>
            </div>
        </div>
    </div>
</footer>