<nav>
    <div class="logo-holder">
        <a href="/" class="nav-logo">
            ZakeDe
        </a>
    </div>
    <div class="nav-links-holder">
        <a href="/portfolio.html" class="nav-link">
            PORTFOLIO
        </a>
        <a href="/about.html" class="nav-link">
            ABOUT
        </a>
        <a href="/contact.html" class="nav-link">
            CONTACT ME
        </a>
    </div>
</nav>