<nav>
    <div class="logo-holder">
        <a href="/" class="nav-logo">
            ZakeDe
        </a>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
    <div class="nav-links-holder">
        <a href="/portfolio" class="nav-link">
            PORTFOLIO
        </a>
        <a href="/about" class="nav-link">
            ABOUT
        </a>
        <a href="/contact" class="nav-link">
            CONTACT ME
        </a>
    </div>
</nav>

