<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>ZakeDe | AboutMe</title>
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <%- include('./partials/nav'); %>
    <div class="about-holder">
        <div class="about">
            <h1 class="about-heading">About Me</h1>
            <div class="about-content">
                <p>
                    I am a graphic designer and web developer. I have a passion for creating clean, modern and responsive designs. I also have a passion for creating web applications and websites. I have experience in creating websites using HTML, CSS, JavaScript, Node.js, Express, and MongoDB. I am also proficient in using design software such as Adobe Photoshop, Adobe Illustrator, Adobe XD, and Figma. I am currently studying graphic design at Niagra College. I am also a part-time graphic designer and web developer. I am looking for opportunities to grow and develop my skills in the field of graphic design and web development. I am also looking for opportunities to work with people who share the same passion for design and web development as I do.
                </p>
            </div>
        </div>
    </div>
    <%- include('./partials/footer'); %>
</body>
</html>