<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>ZakeDe | Contact Me</title>
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <%- include('./partials/nav'); %>
    <div class="contact-holder">
        <div class="contact">
            <h1 class="contact-heading">Contact Me</h1>
            <div class="contact-content">
                <p>
                    If you would like to contact me, you can reach me at my email address:
                    <a href="mailto:zakede@watever.com">
                        zakede@watever.com
                    </a>
                </p>
            </div>
        </div>
    </div>
    <%- include('./partials/footer'); %>
</body>
</html>