<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>Contact Me | MannatGD</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/contact.css">
    <script src="/scripts/contact.js" defer></script>
</head>
<body>
    <%- include('./partials/nav'); %>
    <div class="contact-holder">
        <div class="contact">
            <div class="contact-image">
                <img src="/images/Contact_Me.png" alt="Contact Me">
            </div>
            <div class="contact-content">
                <p>
                    If you would like to contact me, you can reach me at my email address:
                    <a href="mailto:info@mannatgd.com">
                        info@mannatgd.com
                    </a>
                </p>
                <div class="contact-socials">
                    <a href="https://www.instagram.com/mannat.2077/" class="contact-social-link"><img src="/images/instagram_d.svg" alt="Instagram" width="40px" height="40px"></a>
                    <a href="https://www.linkedin.com/in/mannat-basra-933889246/" class="contact-social-link"><img src="/images/linkedin_d.svg" alt="Linkedin" width="40px" height="40px"></a>
                    <a href="mailto:info@mannatgd.com" class="contact-social-link"><img src="/images/mail_d.svg" alt="Email" width="40px" height="40px"></a>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer'); %>
</body>
</html>