<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>ZakeDe | Contact Me</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <%- include('./partials/nav'); %>
    <div class="contact-holder">
        <div class="contact">
            <div class="contact-image">
                <img src="/images/Contact_Me.gif" alt="Contact Me">
            </div>
            <div class="contact-content">
                <p>
                    If you would like to contact me, you can reach me at my email address:
                    <a href="mailto:zakede@watever.com">
                        zakede@watever.com
                    </a>
                </p>
                <div class="contact-socials">
                    <a href="#" class="contact-social-link"><img src="/images/instagram_d.svg" alt="Instagram" width="40px" height="40px"></a>
                    <a href="#" class="contact-social-link"><img src="/images/behance_d.svg" alt="Behance" width="40px" height="40px"></a>
                    <a href="#" class="contact-social-link"><img src="/images/linkedin_d.svg" alt="Linkedin" width="40px" height="40px"></a>
                    <a href="#" class="contact-social-link"><img src="/images/dribbble_d.svg" alt="Dribbble" width="40px" height="40px"></a>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer'); %>
</body>
</html>