<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/nav.css">
    <title>ZakeDe | Home</title>
</head>
<body>
    <%- include('./partials/nav'); %>
    <header>
        <img src="/images/header.gif" alt="Hello, I am Mannat, A graphic Designer">
    </header>

    <section id="about">
        <div class="about-holder">
            <div class="about-image-holder">
                <img src="images/logo.png" alt="ZakeDe">
            </div>
            <div class="about-text">
                <h2 class="about-heading">About Me</h2>
                <p class="about-p">I am Mannat I am a Graphic Designer Studying at Niagara College. Learning
                    the power of Designing.
                </p>
                <p class="about-p">
                    I am open to working with people that are experimental and innovative, Generalizing In a lot of fields.
                </p>
                <p class="about-p">
                    I wish to curate visually appealing and designs that can communicate with everyone.
                </p>
            </div>
        </div>
    </section>

    <section id="skills">
        <div class="skills-box">
            <h2 class="skills-heading">My Skills</h2>
            <div class="skills-holder">
                <div class="skills-text">
                    <p class="skills-p">
                        I Do Graphic Design, Concept Art, Branding, Illustration, Editorial Design, Motion Graphics, Logo Design, UI/UX Design, Typography, Photography, Photo Designing, Print Production, Pixel Art and Web Development.
                    </p>
                    <p class="skills-p">
                        AND LEARNING MORE!
                    </p>
                </div>
        
                <div class="skills-anim">
                    Animation Placeholder
                </div>
            </div>
        </div>
    </section>

    <section id="projects">
        <h2 class="projects-heading">
            My Projects
        </h2>
        <div class="projects-holder">
            <div class="projects-item"></div>
            <div class="projects-item"></div>
            <div class="projects-item"></div>
            <div class="projects-item"></div>
            <div class="projects-item"></div>
            <div class="projects-item"></div>
        </div>

        <h2 class="projects-more"><a href="#">More Work ></a></h2>
    </section>

    <%- include('./partials/footer'); %>
</body>
</html>