<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>Privacy Policy | MannatGD</title>
    <link rel="stylesheet" href="/css/privacy.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <%- include('./partials/nav'); %>
    <div class="privacy-holder">
        <div class="privacy">
            <h1 class="privacy-heading">Privacy Policy</h1>
            <div class="privacy-content">
                <p>
                    We are committed to protecting the privacy of visitors to our freelance graphic design website.
                    Any personal information collected, such as name and email address, is used solely for communication purposes and is never shared with third parties.
                </p>
                <p>
                    We may use cookies to enhance user experience, but users can adjust their browser settings to refuse cookies if desired.
                    We strictly adhere to a policy of not recreating or copying any work without explicit consent.
                    Users may contact us at any time to review, update, or delete their personal information from our records.
                    Our policy requires payment upfront before work begins; requests without payment will be declined.
                </p>
                <p>If you have any further questions or concerns about our privacy policy, please contact us at <a href="mailto:info@mannatgd.com"> info@mannatgd.com </a>.</p>
                </p>
            </div>
        </div>
    </div>
    <%- include('./partials/footer'); %>
</body>
</html>