<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>ZakeDe | Privacy Policy</title>
    <link rel="stylesheet" href="/css/privacy.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <%- include('./partials/nav'); %>
    <div class="privacy-holder">
        <div class="privacy">
            <h1 class="privacy-heading">Privacy Policy</h1>
            <div class="privacy-content">
                <p>
                    Your privacy is important to us. It is ZakeDe's policy to respect your privacy regarding any information we may collect from you across our website, <a href="http://zakede.com">
                        http://zakede.com</a>, and other sites we own and operate.
                </p>
            </div>
        </div>
    </div>
    <%- include('./partials/footer'); %>
</body>
</html>