<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>Terms and Conditions | MannatGD</title>
    <link rel="stylesheet" href="/css/toc.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <%- include('./partials/nav'); %>
    <div class="toc-holder">
        <div class="toc">
            <h1 class="toc-heading">Terms and Conditions</h1>
            <div class="toc-content">
                <p>
                    Our graphic design services are provided solely for legitimate business purposes.
                    Clients must provide clear project briefs and timely feedback to ensure efficient completion of design projects.
                </p>
                <p>
                    50% upfront payment required, with remaining balance due upon project completion; exceptions considered on a case-by-case basis.
                </p>
                <p>
                    We reserve the right to refuse or terminate service to anyone for any reason at any time.
                    Design revisions limited to a maximum of two iterations per project.
                </p>
                <p>
                    By using our platform, clients agree to respect the intellectual property rights of our designers and refrain from unauthorized use or distribution of their work.
                </p>
                <p>
                    We reserve the right to modify these terms and conditions at any time; continued use of our services constitutes acceptance of any changes.
                </p>
                <p>
                    If you have any further questions or concerns about our terms and conditions, please contact us at <a href="mailto:info@mannatgd.com">info@mannatgd.com</a>.
                </p>
            </div>
        </div>
    </div>
    <%- include('./partials/footer'); %>
</body>
</html>