<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>ZakeDe | Terms and Conditions</title>
    <link rel="stylesheet" href="/css/toc.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <%- include('./partials/nav'); %>
    <div class="toc-holder">
        <div class="toc">
            <h1 class="toc-heading">Terms and Conditions</h1>
            <div class="toc-content">
                <p>
                    By accessing this website we assume you accept these terms and conditions. Do not continue to use ZakeDe
                    if you do not agree to take all of the terms and conditions stated on this page.
                </p>
            </div>
        </div>
    </div>
    <%- include('./partials/footer'); %>
</body>
</html>