.contact-holder {
    padding: 80px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.contact-image img {
    width: 40%;
    height: auto;
    object-fit: cover;
}

.contact-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    padding: 5px;
    gap: 10px;
    border: 1px solid #00000000;
}

.contact-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid var(--black-color); */
    /* padding: 5px; */
    transition: all 0.2s ease-in-out;
}

.contact-social-link:hover{
    scale: 1.1;
}

.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact-content p {
    font-size: 1rem;
    font-family: var(--body-font), sans-serif;
    color: var(--black-color);
    text-align: center;
}
