.toc-holder {
    padding: 80px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toc {
    width: 65%;
}

.toc-heading {
    font-size: 2.5rem;
    font-family: var(--heading-font), sans-serif;
    margin-bottom: 20px;
    text-align: center;
    color: var(--black-color);
}

.toc-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.toc-content p {
    font-size: 1rem;
    font-family: var(--body-font), sans-serif;
    color: var(--black-color);
    text-align: left;
}


@media screen and (max-width: 768px) {
    .toc-holder {
        padding: 50px 24px;
    }

    .toc {
        width: 100%;
    }
    
}